</main>
<div class="container" id="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <p class="footer-text">TyW-98</p>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="social-icons" href="https://github.com/TyW-98" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="ms-3">
                <a class="social-icons" href="https://www.linkedin.com/in/yitwey-tam/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="ms-3">
                <a class="social-icons" href=""><i class="fa-regular fa-envelope"></i></a>
            </li>
        </ul>
    </footer>
</div>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="script/index.js"></script>
</body>
</html>