:root {
    --bg-color: bisque;
    --steps: 0;
    --type-animation-duration: 6s;
}

body {
    margin:0;
    padding: 0;
    background-color: var(--bg-color);
    display: grid;
}

/* Open navigation buttons */

.menubtn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 50pt;
    color: rgb(171, 189, 121);
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    font-size: 80pt;
    font-weight: bold;
    text-decoration: none;
}

/* Overlay section */
.overlay {
    height: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    left: 0;   
    top: 0;
    overflow-y: hidden;
    background: transparent;
    background: rgba(0, 0, 0, 0.55);
    transform: 1s;
    text-align: center;
}

/* Position options in overlay navigation buttons */
.nav-content {
    position: relative;
    top: 15%;
    margin: 20px;
    width: 100%;
}

/* Overlay navigation options */
.menu li {
    list-style: none;
    margin: 2.5%;
    padding: 0.5%;
}

/* Overlay navigation options text */
.menu li a {
    font-size: 30pt;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu li a:hover , menu li a:focus {
    background-color: brown;
    color: bisque;
}

/* Social icon div */
.socials {
    position: relative;
    top: 17.5%;
    margin: 10px 0;
}

/* Social Icons */
.socials a {
    margin: 0 50px 0;
    font-size: 25pt;
    color: rgb(104, 47, 47);
}

/* Heading section */
.heading-section {
    text-align: center;
    margin: 0 auto;
}

.welcome-message {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60pt;
    font-family: monospace;
    position: relative;
    width: max-content;
    top: 150px;
}

.welcome-message::before, .welcome-message::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.welcome-message::before {
    background: var(--bg-color);
    animation-name: typing;
    animation-duration: var(--type-animation-duration);
    animation-timing-function: steps(var(--steps));
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.welcome-message::after{
    background-color: black;
    width: 0.250rem;
    animation: 
        typing var(--type-animation-duration) steps(var(--steps)) 1s 1 normal both,
        blinking 500ms steps(var(--steps)) infinite normal;
}

@keyframes typing {
    to { 
        left: 100%;
    }
}

@keyframes blinking {
    from {
        background-color: black;
    }
    to {
        background: transparent;
    }
}

