:root {
    --bg-color: bisque;
    --sub-steps: 0;
    --title-steps: 0;
    --type-animation-duration: 2.5s;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    height: 100vh;
}

section {
    height: 100vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Website top left icons  */
.website-icon {
    position: relative;
    margin-left: 3.125rem;
    margin-top: 0.625rem;
    border: solid 0.125rem black;
    width: max-content;
    border-radius: 5%;
    background-color: chocolate;
}

/* === Open navigation buttons === */

.openbtn {
    position: fixed;
    top: 0;
    right: 2rem;
    font-size: 3.125rem;
    cursor: pointer;
    visibility: visible;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 3.125rem;
    text-decoration: none;
    color: rgb(17, 17, 73)
}

/* === Overlay section === */
.overlay {
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    left: -100%;
    top: 0;
    overflow-y: hidden;
    background: transparent;
    background: rgba(0, 0, 0, 0.55);
    text-align: center;
    transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Position options in overlay navigation buttons */
.nav-content {
    position: relative;
    top: 15%;
    margin: 2rem;
    width: 100%;
}

/* Overlay navigation options */
.menu li {
    list-style: none;
    margin: 2.5%;
    padding: 0.5%;
    position: relative;
    bottom: 1.875rem;
}

/* Overlay navigation options text */
.menu li span {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu li span:hover,
menu li span:focus {
    background-color: brown;
    color: bisque;
    border-radius: 25%;
    cursor: pointer;
}

/* Social icon div */
.socials {
    display: flex;
    position: relative;
    margin: 1.25rem 0;
    align-items: center;
    justify-content: center;
}

/* Social Icons */
.socials a {
    margin: 0 3.125rem 0;
    font-size: 2.5rem;
    color: rgb(104, 47, 47);
    transition: all 0.2s ease-in-out;
}

.socials a:hover {
    animation: bouncing 0.75s infinite;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* === Heading section  ===*/
#heading-section {
    text-align: left;
    position: relative;
    height: 65vh;
    width: 50vw;
    padding-top: 3.125rem;
    padding-left: 9.375rem;
}

/* Title and subtitle */
.sub-title,
.big-title {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.75rem;
    font-weight: 500;
    z-index: 2;
    width: max-content;
}

.big-title::before,
.big-title::after,
.sub-title::before,
.sub-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sub-title {
    margin-top: 3.125rem;
    font-size: 2rem;
    font-weight: 500;
    z-index: 1;
}

/* sub-title typing animation */
.sub-title::before {
    background: var(--bg-color);
    animation: typing 500ms steps(var(--sub-steps)) forwards 1s;

}

/* sub-title blinking animation */
.sub-title::after {
    background: black;
    width: 0.125em;
    animation:
        typing 500ms steps(var(--sub-steps)) 1s 1 normal both,
        blinking 500ms steps(var(--sub-steps)) infinite,
        stop-blinking 500ms steps(var(--sub-steps)) forwards calc(500ms + 1.45s);
}

/* big-title typing animation */
.big-title::before {
    background: var(--bg-color);
    animation: typing var(--type-animation-duration) steps(var(--title-steps)) forwards calc(500ms + 1.65s);

}

/* big-title blinking animation */
.big-title::after {
    background: transparent;
    width: 0.125em;
    animation:
        typing var(--type-animation-duration) steps(var(--title-steps)) forwards calc(500ms + 1.65s),
        blinking 500ms steps(var(--title-steps)) infinite calc(500ms + 1.65s),
        stop-blinking 1 steps(1) forwards calc(var(--type-animation-duration) + 4.5s);
}

/* big-title and sub-title animation keyframes */
@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blinking {
    from {
        background: black;
    }

    to {
        background: transparent;
    }
}

@keyframes stop-blinking {
    to {
        background: transparent;
    }
}

/* Introduction text */
.intro-text {
    width:90%;
}

/* Download CV button */
.intro-btn-row {
    position: relative;
    top: 30px;
    left: 30px;
}

.download-cv-btn {
    background-color: rgb(12, 53, 87);
    border: solid 1px black;
    margin: 0 30px;
}

.download-cv-btn:hover {
    background-color: rgb(28, 96, 173) !important;
    border: solid 1px black !important;
}

.download-cv-btn a {
    text-decoration: none;
    color: rgb(247, 247, 247);
    
}

.mail-btn {
    background-color: rgb(255, 255, 255);
    margin: 0 30px;
}

.mail-btn:hover {
    background-color: rgb(206, 178, 22) !important;
}

.mail-btn a{
    text-decoration: none;
}

/* Second Section */
#second-section {
    border-top: double 2px black;
    background-color: white;
}

.profile-picture {
    position: absolute;
    width: max-content;
    right: 200px;
}

.profile-img {
    width: 85%;
    border-radius: 100%;
}

@media (max-width:1460px) {

    /* Overlay Navigation */

    .nav-content {
        top: 10%;
    }

    .menu li {
        margin: 10% 0;
    }


    /* Heading Section */

    #heading-section {
        text-align: left;
        position: relative;
        height: 65vh;
        width: 50vw;
        padding-top: 3.125rem;
        padding-left: 6.25rem;
    }

    .profile-picture {
        position: absolute;
        right: -9.375rem;
        width: max-content;
        top: 9.375rem;
    }

    .profile-img {
        width: 65%;
    }
}