body {
    margin:0;
    padding: 0;
}

/* Open navigation buttons */
.menubtn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-size: 50pt;
    color: rgb(171, 189, 121);
    cursor: pointer;
}

/* Overlay section */
.overlay {
    background-color: bisque;
    height: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    left: 0;   
    top: 0;
    overflow-y: hidden;
    transform: 1s;
}

/* Content section */
.content {
    background-color: aquamarine;
    width: 100%;
    height: 800px;
    background-size: cover;
    display: flex;
    align-items: center;
}