<%- include('partials/header') %>

<div class="home-content">
  <div class="console">
    <div class="console-header">
      <span class="console-title">Command Prompt</span>
      <div class="console-buttons">
        <i class="fa-sharp fa-regular fa-window-minimize console-button"></i>
        <i class="fa-sharp fa-regular fa-window-maximize console-button"></i>
        <i class="fa-solid fa-xmark console-button"></i>
      </div>
    </div>
    <div class="console-body">
      <p>Welcome to Command Prompt. Type "help" to see available commands.</p>
      <p>C:\> <span class="console-text"></span></p>
      <p class="new-console-row">C:\></p>
    </div>
  </div>

  <div class="welcome-message">
        <h1>Welcome to my website</h1>
  </div>
</div>

<%- include('partials/footer') %>
