* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
}

body {
    background-color: rgba(4, 28, 109, 0.719);
    margin: 0 9.375rem 0 15.625rem;
}

/* Header */

.navbar {
    border-bottom: solid grey;
    transition: all 0.75s ease-in-out;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}

.navbar-logo {
    width: 4.0625rem;
    height: 4.0625rem;
    margin-top: .625rem;
}

.branding {
    color: white;
    margin-left: .9375rem;
}

.nav-item {
    margin-left: 1.5625rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(196, 162, 11);
    font-weight: 600;
    font-size: 16pt;
}

.nav-item a:hover {
    color: rgb(95, 79, 7);
}

.wrapper {
    min-height: calc(100vh - 9.375rem);
}

/* Footer */
#footer {
    position: relative;
    height: 3.125rem;
    transition: all 0.75s ease-in-out;
}

.footer-text {
    color: white;
    font-weight: 600;
}

.social-icons i {
    font-size: 25pt;
    color: white;
    margin-bottom: .9375rem;
}

.social-icons i:hover {
    color: rgb(123, 128, 128);
}

/* Home page */

.landing-page {
    opacity: 0;
    transition: 1s ease-in-out;
}

.landing-page.show {
    opacity: 1;
    transform: translateY(0);
}

#intro-text {
    color: white;
    font-weight: 600;
}

.home-body {
    padding: 0;
    margin: 0;
}

.welcome-header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
}

.welcome-message {
    margin-left: calc((100% - 46rem)/2);
}

.navbar-column {
    background-color: white;
    color: black;
    position: fixed;
    width: 43.75rem;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding-top: 12.5rem;
}

.navbar-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-column ul li {
    margin: 2rem 0;
}

.navbar-column ul li a {
    color: black;
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    padding: 10px;
}

.navbar-links ul li a:hover {
    background-color: chocolate;
    transition: all 0.5s ease-in-out;
}

.navbar-social-icons {
    margin-top: 6.25rem;
}

.navbar-social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-social-icons {
    margin: 0 1.875rem;
}

.home-social-icons i {
    cursor: pointer;
    font-size: 25pt;
}

.home-social-icons i:hover {
    color: blue;
    animation: bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }
}


/* Home page console */
.console {
    background-color: black;
    width: 46.875rem;
    height: 34.375rem;
    margin: 0 auto;
    position: absolute;
    top: 9.375rem;
    left: 32.5%;
    border: solid .1875rem white;
    border-radius: .625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.console.hide {
    opacity: 0;
    transform: translateY(100%);
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .3125rem .625rem;
    cursor: pointer;
}

.console-title {
    font-size: 19.2px;
}

.console-buttons {
    display: flex;
    margin-right: .3125rem;
}

.console-button {
    margin-left: 1.25rem;
    font-size: 16pt;
}

.console-body {
    padding: .625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(48, 182, 15)
}

.console-body p:last-of-type {
    display: inline-block;
}

.console-text {
    display: inline-block;
}

.new-console-row {
    visibility: hidden;
}

.testing {
    height: 100%;
    background-color: red;
}