* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
}

body {
    background-color: black;
}

/* Console Design */
.console {
    background-color: rgb(78, 76, 76);
    width: 46.875rem;
    height: 34.375rem;
    margin: 0 auto;
    position: absolute;
    top: 9.375rem;
    left: 32.5%;
    border: solid .1875rem white;
    border-radius: .625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.console.hide {
    opacity: 0;
    transform: translateY(100%);
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .3125rem .625rem;
    cursor: pointer;
}

.console-title {
    font-size: 19.2px;
}

.console-buttons {
    display: flex;
    margin-right: .3125rem;
}

.console-button {
    margin-left: 1.25rem;
    font-size: 16pt;
}

.console-body {
    padding: .625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(48, 182, 15)
}

.console-body p:last-of-type {
    display: inline-block;
}

.console-text {
    display: inline-block;
}

.new-console-row {
    visibility: hidden;
}

/* Home section */
#content,
.landing-page {
    opacity: 0;
    transition: 1s ease-in-out;
}

.landing-page.show {
    opacity: 1;
    transform: translateY(0);
}

.welcome-header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
}

.welcome-message {
    margin-left: 7.8125rem;
    text-align: center;
    width: 50%;
}

.navbar-column {
    background-color: white;
    color: black;
    position: fixed;
    width: 43.75rem;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding-top: 7.8125rem;
    opacity: 0;
    transition: 1s ease-in-out;
}

#content.show,
.navbar-column.show,
.landing-page.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-column ul li {
    margin: 2rem 0;
}

.navbar-column ul li a {
    color: black;
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    padding: 10px;
}

.navbar-links ul li a:hover {
    background-color: chocolate;
    transition: all 0.5s ease-in-out;
}

.navbar-social-icons {
    margin-top: 4.6875rem;
}

.navbar-social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-social-icons {
    margin: 0 1.875rem;
}

.home-social-icons i {
    cursor: pointer;
    font-size: 25pt;
}

.home-social-icons i:hover {
    color: blue;
    animation: bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }
}

/* About Section */
#about,
#projects,
#contact {
    height: 100vh;
    color: white;
    font-size: 25pt;
    background-color: black;
}

.about-content {
    width: 50%;
    color: white;
    margin-left: 7.8125rem;
    text-align: center;

}

.testing {
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 25pt;
}


/* Project Section */
.project-content {
    width: 50%;
    margin-left: 7.8125rem;
}

.project-title {
    margin-bottom: 50px;
    text-align: center;
    border-bottom: solid white;
    padding-bottom: 10px;
    font-size: 25pt;
}

.project-title:last-of-type {
    margin-top: 50px;
}

.carousel-indicators {
    position: relative;
    top: 400px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -7.8125rem;
}

.carousel-control-next {
    right: -7.8125rem;
}

.project-card {
    height: 300px;
    overflow: hidden;
    width: 300px
}

.project-image {
    width: 100%;
    height: 35%;
}

.card-text {
    font-size: 16pt;
}


/* Contact section */
.contact-form {
    width: 50%;
    margin-left: 9.375rem;
    padding-top: 9.375rem;
    font-size: 20pt;
}

.contact-form h2 {
    text-align: center;
    border-bottom: solid white 2px;
    padding-bottom: 15px;
    font-size: 24pt;
}