:root {
    --primary-background-color:#101820FF;
    --primary-font-color: rgb(255, 255, 255);
    --nav-column-background-color:  #F2AA4CFF;
    --nav-column-hover-color: skyblue;
    --nav-column-width: 28%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: 'Ysabeau', sans-serif;
}

/* Console Design */
/* .console {
    background-color: black;
    width: 46.875rem;
    height: 34.375rem;
    margin: 0 auto;
    position: absolute;
    top: 9.375rem;
    left: 32.5%;
    border: solid .1875rem rgb(136, 134, 134);
    border-radius: .625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    color: black;
}

.console.hide {
    opacity: 0;
    transform: translateY(100%);
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 134, 134);
    padding: .3125rem .625rem;
    cursor: pointer;
}

.console-title {
    font-size: 19.2px;
}

.console-buttons {
    display: flex;
    margin-right: .3125rem;
}

.console-button {
    margin-left: 1.25rem;
    font-size: 16pt;
}

.console-body {
    padding: .625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(48, 182, 15)
}

.console-body p:last-of-type {
    display: inline-block;
}

.console-text {
    display: inline-block;
}

.new-console-row {
    visibility: hidden;
} */

/* NAV COLUMN */
.navbar-column {
    /* background-image: url("../images/navbar-background-2.png");
    background-size: cover;
    background-position: center; */
    background-color: var(--nav-column-background-color);
    color: black;
    position: fixed;
    width: var(--nav-column-width);
    max-width: 28rem;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding-top: 5.5%;
    opacity: 0;
    transition: 1s ease-in-out;
}

#content.show,
.navbar-column.show,
.landing-page.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-column ul li {
    margin: 7.5% 0;
}

.navbar-column ul li a {
    color: black;
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    padding: .625rem;
}

.navbar-links ul li a:hover {
    background-color: rgb(22, 54, 124);
    color: skyblue;
    transition: all 0.125s ease-in-out;
}

.navbar-social-icons {
    margin-top: 10%;
}

.navbar-social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-social-icons {
    margin: 0 1.875rem;
}

.home-social-icons i {
    cursor: pointer;
    font-size: 25pt;
}

.home-social-icons i:hover {
    color: rgb(28, 135, 177);
    animation: bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }
}

.nav-col-text {
    text-align: center;
}

/* Home section */
#content {
    z-index: 0;
    margin: 0 auto;
    position: relative;
    right: 225px;
    width: calc(100% - var(--nav-column-width));
}

/* #home {
    background-image: url("../images/navbar-background-2.png");
    background-size: cover;
    background-position: center;
} */

#content,
.landing-page {
    opacity: 0;
    transition: 1s ease-in-out;
}

.landing-page.show {
    opacity: 1;
    transform: translateY(0);
}

.welcome-header {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    left: 40%;
}

.welcome-message h1:first-of-type {
    font-size: 40pt;
}

.welcome-message h1:last-of-type {
    font-size: 30pt;
}

/* About Section */
#about,
#projects,
#contact {
    font-size: 25pt;
}

#about {
    height: 60vh;
}

.about-content,
.tech-stack {
    margin: auto 0 0;
    text-align: center;
    padding: 0 10px;
}

.about-content h2,
.tech-stack h2 {
    border-bottom: solid white;
    padding-bottom: 10px;
}

.about-content p {
    text-align: justify;
    font-size: 16pt;
}

.tech-stack {
    margin-top: 3.125rem;
}

.tech-stack ul {
    list-style: none;
    text-align: left;
    margin-top: .9375rem;
}

.tech-stack ul li {
    margin-bottom: 1%;
}

.tech-stack ul li h5 {
    display: inline-block;
    font-size: 24pt;
}

.tech-icon {
    display: flex;
    align-items: center;

}

.tech-icon img {
    width: 5%;
    display: inline-block;
    margin-right: 10px;
}

/* Project Section */
.project-content {
    margin-top: 2.1875rem;
}

.project-title {
    margin-bottom: 3.125rem;
    text-align: center;
    border-bottom: solid white;
    padding-bottom: .625rem;
    font-size: 25pt;
}

.project-title:last-of-type {
    margin-top: 1%;
}

.carousel-indicators {
    position: relative;
    top: 400px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -8%
}

.carousel-control-next {
    right: -8%;
}

.carousel-control-prev span,
.carousel-control-next span {
    background-color: black;
}

.project-card-link {
    text-decoration: none;
}

.project-card {
    height: 90%;
    overflow: hidden;
    display: flex;
}

.project-image {
    height: 65%;
}

.project-card-2 {
    height: 90%;
    overflow: hidden;
    width: 90%;
}

.project-image-2 {
    height: 35%;
    overflow-y: auto;
}

.card-body {
    background-color: coral;
    padding: 0 5px;
    margin: 0;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-size: 12pt;
    text-align: justify;
    font-weight: 400;
}

.card-footer {
    background-color: coral;
    border: none;
    max-height: 6rem;
    overflow-y: visible;
}

.card-footer a {
    position: relative;
}

/* Contact section */
#contact {
    margin-top: 0.1%;
    margin-bottom: 0.2%;
    height: 70vh;
}

.contact-form {
    font-size: 20pt;
}

.contact-form h2 {
    text-align: center;
    border-bottom: solid white 2px;
    padding-bottom: 15px;
    font-size: 24pt;
}

.send-btn {
    background-color: var(--nav-column-background-color);
}
